<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

CONTRIBUTORS AND COPYRIGHT HOLDERS (c) 2013:
Dag Robøle (dag D0T robole AT gmail D0T com)
-->

<!DOCTYPE HTML>
<html>
<head>
<style>

body {
	margin: 0;
	padding: 0;
	background-color: #c0c0a5;
	font-size: 15px;
}

#header {    
    color:black;
    text-align:center;
    padding:5px;
}

#nav {    
    width:20%;
    float:left;
    padding:5px; 
}

#section {
    width:75%;
    float:left;
    padding:5px; 
}

a {
	text-decoration: none;
}

a:link {
    color: #005555;
}

a:visited {
    color: #005555;
}

a:hover {
    color: #FF0000;
}

</style>

</head>
<body>

	<div id="header">	
		<br>
	</div>

	<div id="nav">		
	</div>

	<div id="section">
		{{.}}
	</div>

</body>
</html>
